*{
  text-decoration: none;
  list-style: none;
}
body{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family:"Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: rgb(228, 225, 225);
  text-decoration: none;
}
.navbar{
  background-color: rgb(208, 207, 207);
  padding-right: 30px;
  padding-left: 30px;
}
.navdiv{
display: flex;
align-items: center;
justify-content: space-between;
}
.logo a{
  font-size: 30px;
  font-weight: 500;
  color:rgb(2, 84, 2)
}

.navcenter ul{
  display: flex;

}
.navcenter ul li a{
  color: black;
  font-size:20px ;
  margin-right:30px ;
}
.buttons button{
  padding: 8px;
  border-radius:12px ;
  border:solid 2px rgb(4, 90, 4);
  cursor: pointer;
}
.log a{
  color:black;
  font-size:15px ;
}
.sell{
background-color: rgb(2, 89, 2);
}
.sell a{
  color:white;
  font-size: 15px;
}
.about-section {
  background-color: #ffffff;
  padding: 2rem 0;
}

.about-section h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
}

.about-content {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  align-items: center;
}

.text {
  flex: 1;
  font-size: 1rem;
}

.text p {
  margin-bottom: 10px;
  margin-left: 20px;
}

/* .image {
  flex: 1;
} */

.image img {
  width:400px;
  height:300px;
  border-radius: 0px 10px 0px 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.mission-section {
  background-color: #e2e2e2;
  padding: 1.5rem 0;
  text-align: center;
}

.footer{
  height:200px;
  background-color:rgb(2, 72, 2) ;
  color:white;
  padding:10px;
} 
.all-items{
  display:flex;
  justify-content: space-between;
  align-items: center;
} 
.item-list{
  margin-left: 10px;
  margin-right: 80px;
}
.item-list a{
  font-size:25px;
  border:solid 2px ;
  padding:5px;
  color:white;
  font-style: italic;
}
.item-list p{
  font-size:15px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.social-title{
  margin-left: 40px;
  font-size:25px ;
  font-style:italic;
}
.social a{
color:white;
}
.contact-title{
  margin-left: 40px;
  font-size:25px ;
  font-style:italic;
}
.contact a{
  color:white;
}
.navitems li{
  margin-top:10px ;
}
.navitems li a{
  color:white;
  font-size:20px ;
  font-weight: 500;
}








