*{
  text-decoration: none;
  list-style: none;
}
body{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family:"Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: rgb(228, 225, 225);
  text-decoration: none;
}
.navbar{
  background-color: rgb(208, 207, 207);
  padding-right: 30px;
  padding-left: 30px;
}
.navdiv{
display: flex;
align-items: center;
justify-content: space-between;
}
.logo a{
  font-size: 30px;
  font-weight: 500;
  color:rgb(2, 84, 2)
}

.navcenter ul{
  display: flex;

}
.navcenter ul li a{
  color: black;
  font-size:20px ;
  margin-right:30px ;
}
.buttons button{
  padding: 8px;
  border-radius:12px ;
  border:solid 2px rgb(4, 90, 4);
}
.log a{
  color:black;
  font-size:15px ;
}
.sell{
background-color: rgb(2, 89, 2);
}
.sell a{
  color:white;
  font-size: 15px;
}


.form-container {
  max-width: 500px;
  margin: 50px auto;
  background: white;
  padding: 20px;
  box-shadow: 0px 0px 5px green;
  
}
.form-container h2{
margin-left: 150px;
font-family:Arial, Helvetica, sans-serif
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

label {
  margin-top: 10px;
}

input, textarea, select {
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#ewasteForm button {
  margin-top: 15px;
  background-color: #036204;
  color: white;
  padding: 15px;
  border: none;
  cursor: pointer;
  font-size:20px ;
}

/* popup  */
.popup {
  visibility: hidden;
  min-width: 250px;
  background-color: #4CAF50;
  color: #fff;
  text-align: center;
  border-radius: 8px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  transition: all 0.4s ease;
}

.popup.show {
  visibility: visible;
  top: 50px;
  opacity: 1;
}

.submit {
  padding: 10px 20px;
  background-color: #008CBA;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}


.submit:hover {
  background-color: #006f98;
}