*{
  text-decoration: none;
  list-style: none;
}
body{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family:"Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: rgb(228, 225, 225);
  text-decoration: none;
}

.navbar{
  background-color: rgb(208, 207, 207);
  padding-right: 30px;
  padding-left: 30px;
}
.navdiv{
display: flex;
align-items: center;
justify-content: space-between;
}
.logo a{
  font-size: 30px;
  font-weight: 500;
  color:rgb(2, 84, 2)
}

.navcenter ul{
  display: flex;

}
.navcenter ul li a{
  color: black;
  font-size:20px ;
  margin-right:30px ;
}

.buttons button{
  padding: 8px;
  border-radius:12px ;
  border:solid 2px rgb(4, 90, 4);
  cursor: pointer;
}
.log a{
  color:black;
  font-size:15px ;
}
.sell{
background-color: rgb(2, 89, 2);
}
.sell a{
  color:white;
  font-size: 15px;
}

section {
  background: white;
  padding: 20px;
  margin: 20px auto;
  width: 40%;
  box-shadow: 0px 0px 5px green;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: auto;
}

input, textarea {
  margin: 10px 0;
  padding: 10px;
  width: 100%;
  border: 1px solid rgb(26, 26, 26);
  border-radius: 5px;
}

.submit{
  background-color:  rgb(2, 89, 2);
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  margin-top:10px ;
}

iframe {
  width: 100%;
  border-radius: 5px;
}
