*{
  text-decoration: none;
  list-style: none;
}
body{
  
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family:"Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: rgb(228, 225, 225);
  text-decoration: none;
  

}

.navbar{
  background-color: rgb(208, 207, 207);
  padding-right: 30px;
  padding-left: 30px;
}
.navdiv{
display: flex;
align-items: center;
justify-content: space-between;
}
.logo a{
  font-size: 30px;
  font-weight: 500;
  color:rgb(2, 84, 2)
}

.navcenter ul{
  display: flex;

}
.navcenter ul li a{
  color: black;
  font-size:20px ;
  margin-right:30px ;
}

.buttons button{
  padding: 8px;
  border-radius:12px ;
  border:solid 2px rgb(4, 90, 4);
  cursor: pointer;
}
.log a{
  color:black;
  font-size:15px ;
}
.sell{
background-color: rgb(2, 89, 2);
}
.sell a{
  color:white;
  font-size: 15px;
}
.container {
  width: 360px;
  background: #fff;
  border-radius: 15px;
  position:absolute;
  left:40%;
  top:25%;
  box-shadow: 0px 0px 5px green;
  }
.form-box {
  padding: 30px;
  position: relative;
}

.button-box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.toggle-btn {
  flex: 1;
  padding: 12px;
  background: #2e7d32;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.toggle-btn:hover {
  background: #1b5e20;
}

.input-group {
  display: none;
  flex-direction: column;
}

.input-group h2 {
  margin-bottom: 20px;
  color: #2e7d32;
  text-align: center;
}

.input-group input {
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.input-group button {
  padding: 12px;
  background: #2e7d32;
  color: #fff;
  border: none;
  border-radius: 8px;
  margin-top: 10px;
  cursor: pointer;
}

.input-group button:hover {
  background: #1b5e20;
}

.error {
  color: red;
  font-size: 14px;
  margin: 5px 0;
  text-align: center;
}