*{
  text-decoration: none;
  list-style: none;
}
body{
  width:100%;
  height:auto;
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family:"Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: rgb(228, 225, 225);
  text-decoration: none;
}
.navbar{
  background-color: rgb(208, 207, 207);
  padding-right: 30px;
  padding-left: 30px;
}
.navdiv{
display: flex;
align-items: center;
justify-content: space-between;
}
.logo a{
  font-size: 30px;
  font-weight: 500;
  color:rgb(2, 84, 2)
}

.navcenter ul{
  display: flex;

}
.navcenter ul li a{
  color: black;
  font-size:20px ;
  margin-right:30px ;
}

.buttons button{
  padding: 8px;
  border-radius:12px ;
  border:solid 2px rgb(4, 90, 4);
  cursor: pointer;
}
.log a{
  color:black;
  font-size:15px ;
}
.sell{
background-color: rgb(2, 89, 2);
}
.sell a{
  color:white;
  font-size: 15px;
}
.main{
  margin-top:70px ;
  display:flex;
  justify-content: space-between;
  align-items: center;
}
.image{
  padding:0px;
  margin-right:80px;
}
.image img{
  width:400px;
  height:400px;
  border-radius:50px ;
}
.container{
  padding:20px ;
}
.container h1{
  font-size: 70px;
  
}
.container h5{
  font-size:45px ;
  font-weight: 400;
}
.container h4{
  font-size:30px ;
  color:rgb(1, 44, 1);
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
}
.container button{
  padding:15px;
  width:200px;
  border:solid 2px rgb(2, 74, 2);
  background-color: rgb(1, 53, 1);
  cursor: pointer;
}
.container button a{
  color:white;
  font-size:20px ;
}


/* Report on e-wastes */
h2{
  font-size: 40px;
  text-align: center;
}
.card-container{

  place-items: center;
  height: 100vh;
  margin: 0;
  gap:40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: #fff;
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  padding: 20px;
  text-align: center;
}

.card img {
  /* width: 100%; */
  width:280px;
  height:200px;
  border-radius:5px;
}

.card h5 {
  font-size: 20px;
  margin: 15px 0 10px;
}

.card p {
  color: #555;
  font-size:20px;
}

.card a {
  /* margin-top: 15px; */
  padding: 10px 20px;
  border: none;
  background-color: rgb(4, 90, 4);
  color: white;
  border-radius: 5px;
  cursor: pointer;
}


/* footer */
.footer{
  height:200px;
  background-color:rgb(2, 72, 2) ;
  color:white;
  padding:10px;
} 
.all-items{
  display:flex;
  justify-content: space-between;
  align-items: center;
} 
.item-list{
  margin-left: 10px;
  margin-right: 80px;
}
.item-list a{
  font-size:25px;
  border:solid 2px ;
  padding:5px;
  color:white;
  font-style: italic;
}
.item-list p{
  font-size:15px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.social-title{
  margin-left: 40px;
  font-size:25px ;
  font-style:italic;
}
.social a{
color:white;
}
.contact-title{
  margin-left: 40px;
  font-size:25px ;
  font-style:italic;
}
.contact a{
  color:white;
}
.navitems li{
  margin-top:10px ;
}
.navitems li a{
  color:white;
  font-size:20px ;
  font-weight: 500;
}







